.App {
  text-align: center;
}

.Card {
  margin:auto;
  margin-bottom: 30px;
  border: darkgray 1px solid;
  border-radius: 15px;
  width:300px;
  height:150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card p {
  margin: auto;
  max-width: 250px;
}
.Management {
  margin: 20px;
}

button {
  margin:5px;
}